body {
	margin-top: 100px;
	margin-left: auto;
	width: 80%;
	height: 1000px;
}

#mid {
	width: 65%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	height: 900px;
} 

.code {
	font-family: monospace;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(88, 88, 88);
	color: white; 
	padding: 10px;
}

#sidebar {
	margin-top: 50px;
	margin-right: 150px;
	width: 200px;
	height: 900px;
	float: right;
	padding: 5px;
}

.tab {
	padding-left: 2em;
}